.movies{
    padding: 2rem 0;
    .movies-list{
        display: flex;
        justify-content: space-between;
        .new-card{
            width: 15%;
        }
        .suggest-card{
            width: 32%;
        }
    }
}