.title-wrapper{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-wrapper{
        width: 10%;
        img{
            box-shadow: none;
            cursor: unset;
        }
    }

    p{
        text-transform: uppercase;
        font-size: large;
        width: 10%;
        text-align: center;
    }
}

.movies{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;

    .movie-card{
        width: 15%;
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        margin-bottom: 0.5rem;


        img{
            border: 1px solid #DDDDDE;

        }
    }
}