.compagnies-list{
    display: flex;
    justify-content: space-between;
    .company-card{
        width: 10%;
        display: flex;
        align-items: center;

        img{
            width: 100%;
        }
    }
}