.banner-wrapper{
    background-image: url("https://www.issgovernance.com/file/2013/11/Website-Frontpage-Header-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    height: 20rem;
}