/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

*{
    box-sizing: border-box;
    margin: 0;
}
html, body { 
    min-height: 100vh;
    color: white;
    background-color: rgb(69, 70, 80);

}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 0 2rem;
}

img{
    width: 100%;
    cursor: pointer;
    box-shadow: 5px 5px 30px black;
}

